 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome to Ummu Page</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta content="Author" name="WebThemez">
  <!-- Favicons -->
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Mogra' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Russo+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS File -->
  <link href=" {{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href=" {{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href=" {{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
  <link href=" {{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
  <link href=" {{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href=" {{ url_for('static', filename='lib/magnific-popup/magnific-popup.css') }}" rel="stylesheet">
  <link href=" {{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
  

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> 
</head>

<body id="body">

  

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">
     <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><span>U</span>mmu</a></h1> 
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About Me</a></li>
          <li><a href="{{ url_for('journey') }}">My Journey</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="comp-image"><img src="{{ url_for('static', filename='img/computer.jpg') }}"></div>
    <div class="intro-content">  
      <h2><span>UMMU AMIRAH MUHAMAD</span><br>PROGRAMMING TRAINER & MATH TEACHER</h2>
    </div>
    <div class="teacher-image"><img src="{{ url_for('static', filename='img/teacher.png') }}"></div>
  </section><!-- #intro -->

  

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
   <div class="container">
      <div class="copyright">
        Copyright 2019 © All rights reserved.  
      </div> 
      <div class="credits"> 
        Design & Developed by <a href="#">UmmuAmirah</a> 
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript  -->
  <link href=" {{ url_for('static', filename='lib/jquery/jquery.min.js') }}" rel="stylesheet">
  <link href=" {{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}" rel="stylesheet">
  <link href=" {{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}" rel="stylesheet">
  <link href=" {{ url_for('static', filename='lib/easing/easing.min.js') }}" rel="stylesheet">
  <link href=" {{ url_for('static', filename='lib/superfish/hoverIntent.js') }}" rel="stylesheet">
  <link href=" {{ url_for('static', filename='lib/superfish/superfish.min.js') }}" rel="stylesheet">
  <link href=" {{ url_for('static', filename='lib/wow/wow.min.js') }}" rel="stylesheet">
  <link href=" {{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}" rel="stylesheet">
  <link href=" {{ url_for('static', filename='lib/magnific-popup/magnific-popup.min.js') }}" rel="stylesheet">
  <link href=" {{ url_for('static', filename='lib/sticky/sticky.js') }}" rel="stylesheet">
  
 
  <script src=" {{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
